@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

body {
    background-image: linear-gradient(to left bottom, #01132f, #091233, #150f36, #210937, #2d0135);
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 7px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #fff2e4;
}

::-webkit-scrollbar-thumb {
    background:  #1176c5;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0d67a9;
}

.full-page {
    width:100%;
    height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-bold {
    font-weight: bold;
}

.text-lg {
    font-size: 20px;
}

.main-topic {
    font-size: 100px;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 5px;
}

.h-90 {
    height: 90%;
}

.p-0 {
    padding: 0;
}

.object-fit {
    object-fit: cover;
}

.b-radius-10 {
    border-radius: 10px;
}

.b-radius-50 {
    border-radius: 50px;
}

.main-back-grad {
    background-image: linear-gradient(to left bottom, #01132f, #091233, #150f36, #210937, #2d0135);
}

.sub-topic {
    font-size: 20px;
    font-family: 'Poiret One', cursive;
}

.animate__animated.animate__bounce {
    /*--animate-iteration-count: infinite;*/
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
}

.z-index-2 {
    z-index: 2;
}

.z-index-100 {
    z-index: 100;
}

.z-index-0 {
    z-index: 0 !important;
}

.absolute {
    position: absolute;
}

.footer {
    bottom: 0;
    height: 200px;
}

.footer-font {
    font-family: 'Lobster', cursive;
}

.text-grey {
    color: #d5d5d5;
}

.slide-up {
    height: 0;
    transition: 3s;
}

.z-index-top {
    z-index: 100;
}

.z-index-1 {
    z-index: 0;
}

.overflow-hidden {
    overflow: hidden;
}

.w-30 {
    width: 30%
}

.mint-board-grad {
    background-image: linear-gradient(to right top, #004838, #00423a, #003b3b, #003439, #012d35);
}

.side-nav {
    box-shadow: 0 2px 10px #000000;
    background-image: linear-gradient(to right top, #0c3229, #05312d, #013030, #002f33, #012d35);
}

.h-90 {
    height: 90%;
}

.h-10 {
    height: 10%;
}

.font-lobster {
    font-family: 'Lobster', cursive;
}

.font-bangers {
    font-family: 'Bangers', cursive;
}

.font-monrope {
    font-family: 'Manrope', sans-serif;
}

.text-shadow {
    text-shadow: 0 5px 5px black;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-orange {
    color: #FEA47F;
}

.text-whitesmoke {
    color: #ded6d6;
}

.image-scale {
    transition: 0.2s;
}

.image-scale:hover {
    transition: 0.4s;
    transform: scale(1.15, 1.15);
}

.zkoop-topic {
    font-size: 72px;
    background: -webkit-linear-gradient(#0652DD, #12CBC4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.font-bold {
    font-weight: bolder;
}

.mr-2 {
    margin-right: 20px;
}

.pointer {
    cursor: pointer;;
}

.main-topic-shadow {
    text-shadow: 3px 3px 3px blue;
}

@media (max-width:550px) {
    .main-topic {
        font-size: 70px;
    }

    .sub-topic {
        font-size: 15px;
    }
}
